# DagsHub / MLflow Registry
MLFLOW_TRACKING_URI=https://dagshub.com/<dagshub_username>/<repo_name>.mlflow
MLFLOW_TRACKING_USERNAME=<dagshub_username>
MLFLOW_TRACKING_PASSWORD=<dagshub_token>

# DVC remote auth for DagsHub
DVC_REMOTE_URL=https://dagshub.com/<dagshub_username>/<repo_name>.dvc
DVC_REMOTE_USER=<dagshub_username>
DVC_REMOTE_PASSWORD=<dagshub_token>

# Kaggle data download
KAGGLE_USERNAME=<kaggle_username>
KAGGLE_KEY=<kaggle_api_key>

# API serving
API_MODEL_SOURCE=mlflow
API_MODEL_NAME=home-credit-default-risk
API_MODEL_ALIAS=champion
API_HOST=0.0.0.0
API_PORT=8000
